.artist-flex {
  display: flex;
  margin-top: 100px;
}

.flex-top-a {
  text-align: center;
  margin-right: 50px;
}

.flex-bottom-a {
  width: 600px;
}

.social-list {
  margin: 30px 0px 30px 0px;
}

.social-list p {
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
}
