.artist-flex {
  display: flex;
  margin-top: 100px;
}

.flex-top-a {
  text-align: center;
  margin-right: 50px;
}

.flex-bottom-a {
  width: 600px;
}

// .social-list {
//   margin: 30px 0px 30px 0px;
// }

// .social-list p {
//   margin-bottom: 5px;
//   padding: 10px;
//   font-size: 25px;
// }

.follow-icons i {
  font-size: 25px;
  padding: 20px;
}

iframe {
  border-radius: 5px;
  margin: 30px;
  margin-left: 0px;
}
