.body-flex {
  display: flex;
}

.flex-left {
  flex: 70%;
  max-width: 600px;
}

.flex-right {
  flex: 30%;
  text-align: center;
}

// .flex-right p {
//   margin-bottom: 1px;
// }

#event-header {
  text-transform: uppercase;
  font-size: larger;
}

#event-header h1 {
  font-size: 75px;
}
