<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddqpdj02o/image/upload/v1614936112/Copy_of_Untitled_ro8o6o.png);">
  <div class="container">
    <h1>Live from your living room</h1>
    <p>Your ticket to the world of global music</p>
  </div>
</div>