<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media2.fdncms.com/saltlake/imager/u/original/15817623/music-pick_duratierra---pc-sofar-sounds.png);">
  <div class="container">
    <h1>Live from your living room</h1>
    <p>Your ticket to the world of global music</p>
  </div>
</div>