<div class="footer">
<div class="footer-copyright">
    <p><%= image_tag "https://res.cloudinary.com/ddqpdj02o/image/upload/v1614705819/Stand_Up_Comedy_10_j2mygu.png" %> Front<strong>Row</strong> 2021</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-spotify"></i></a>
  </div>
</div>
