<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://diymusician.cdbaby.com/wp-content/uploads/2016/12/studio-image-diy-blog.jpeg);">
  <div class="container">
    <h1>About Us</h1>
  </div>
</div>

<div class="container col-8">

<h3>Front Row is bringing back live event experiences through intimate, online performances across the world.</h3>
</br>
<p>For some, the crowd was too loud or maybe the beer was warm. For others, the sound system wasn't doing the artist justice. Or maybe someone was in the line of view, snapping selfies all night. Whatever the experience, it just wasn't what you hoped or expected. The magic of a live event experience has been lost.

Front Row was founded to bring back that magic.

In 2009, Rafe Offer invited some friends over to a London flat for a low-key, intimate gig. Eight people gathered in the living room to listen to live music performed by friend and musician Dave Alexander. They shared a drink, and sat on the floor, attentively listening to the music. The room was so quiet, you could hear the clock ticking in the background.

Quickly, what started as a hobby in London spread into a global community for artists and audiences to come together in unique and welcoming spaces - with an added element of surprise - to share, discover, create and, hopefully make a friend or find their new favorite band along the way.

Today, Front Row is a community of thousands of artists, hosts, fans, travelers and more, putting on hundreds of secret, intimate events per month, across 325 cities around the world.

Get your Front Row seat now!
</p>

</div>