<div id="videos"
      data-controller="vonage"
      data-vonage-api-key="<%= ENV["VONAGE_API_KEY"] %>"
      data-vonage-session-id= "<%= @room.vonage_session_id %>"
      data-vonage-token="<%= @token %>"
      data-vonage-name="<%= current_user.first_name %>">
</div>
