* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  // border: 1px solid #ccc;
  background-color: #201d2b61;
  width: 20%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: #67666e;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1c1a23;
  color:#d8d8db;

}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #1c1a23;
  color:#d8d8db;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  background-color: #2a2c3a8c;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.account-container{
  width:100%;
}

.purple-background{
  background: #6969DF
}

.blue-background{
  background: #32A7E2
}

.pink-background{
  background: #B548C6
}

.green-background{
  background: #22B07D
}

.orange-background{
  background: #FF8700
}


.aqua-background{
  background: #12CDD9
}


.peach-background{
  background: #F67171
}

.grey-border{
  border: 1px solid #494949;
}

.grey-border-bottom{
  border-bottom: 1px solid #494949;
}

.menu-icon{
    color: #67666e;
    margin: 0px 16px 16px;
    border-radius: 4px;
    height: 33px;
    width: 33px;
    text-align: center;
    padding: 15px 0px;
    display: block;
}


.account-icon{
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 6px;
    border-radius: 4px;
    height: 33px;
    width: 33px;
    text-align: center;
    margin-right: 10px;
}

.stats-button {
    border: none;
    background: none;
    color: #d8d8db;
    border: solid 1px #672af9;
    border-radius: 4px;
}

.stats-button:hover {
  border: none;
  background: none;
  color: #fff;
}
