.btn {
  border-color: #6729f9;
  border-radius: 10px;
  color: white;
  background-color: #6729f9;
  padding: 10px;
  height: fit-content;
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 500ms;
}

.btn:hover {
  background-color: transparent;
  border-color: white;
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn a {
  color: white;
}

a {
  color: #6729f9;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn-small {
  border-color: #6729f9;
  border-radius: 10px;
  color: white;
  background-color: #6729f9;
  padding: 10px;
  height: fit-content;
  width: 150px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 500ms;
}

.btn-small:hover {
  background-color: transparent;
  border-color: white;
  border: 1px solid rgb(170, 170, 170);
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
