.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-card {
  width: 100%;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  border-radius: 10px;
  background-color: black;
  box-shadow: 2px 3px 7px rgb(46, 46, 46);
  transition: 200ms;
  color: white;
}

.event-card:hover {
  box-shadow: 2px 3px 7px rgb(46, 46, 46);
}

.event-card-image {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.event-card-content {
  padding: 5px;
  background-color: black;
  padding: 10px;
}

.event-card-button {
  position: relative;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.event-card a {
  color: white;
}

.event-card a:hover {
  color: white;
  text-decoration: none;
}

.event-card-button a {
  color: #ec4646;
}

.event-card-button a:hover {
  color: #e93b3b;
  text-decoration: underline;
}

.event-show-card {
  background-color: black;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.show-card-content {
  text-align: center;
  padding: 15px;
  margin: 20px 20px 40px 0px;
  background-color: black;
  border-radius: 10px;
  border: solid 1px #bbbbbb;
  width: 100px;
  height: 100px;
  font-size: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: #ec4646;
}

.event-card-title h4 {
  font-size: 20px;
}
