// WHOLE CHAT CONTAINER
.messages-container {
  width: 350px;
  height: 430px;
  overflow-y: scroll;
  border: 2px solid #4e4e4e;
  border-radius: 5px;
  background-color: #131313e7;
  right: 80px;
}

// MESSAGE SENT BY USER NAME AND DATE
#messages span {
  color: rgb(214, 214, 214);
  font-weight: bold;
  padding: 2px;
  margin-left: 10px;
}

// MESSAGE CONTENT
#messages p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: #672af9;
  border-bottom: 1px solid #1f1f1f;
}
// .container-flex{
//   display: flex;
// }

#something {
  margin-top: 10px;
  background-color: #3d3d3de7;
  border: 1px solid #672af9;
  width: 350px;
  color: white;
}

#live-title {
  margin-top: 20px;
}

// STREAMING VIDEO STYLES

#videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin: 0px 20px 0px 0px;
}

.OT_root {
  height: 600px !important;
}

.OT_publisher .OT_video-element {
  padding: 20px;
}

.showtime {
  font-weight: bold;
  margin: 200px;
}
