// WHOLE CHAT CONTAINER
.messages-container {
  width: 400px;
  height: 400px;
  overflow-y: scroll;
  border: 5px solid #2a2c3a;
  border-radius: 4px;
  background: #6729f9;
  margin-top: 70px;
  position: relative;
  right: 80px;
}

// MESSAGE SENT BY USER NAME AND DATE
#messages span{
  color: white;
  font-weight: bold;
  padding: 2px;
  margin-left: 5px;
}

// MESSAGE CONTENT
#messages p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 2px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border-bottom: 1px solid #2a2c3a;
}
// .container-flex{
//   display: flex;
// }

// STREAMING VIDEO STYLES

#videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 10px;
}

.OT_root {
  height: 600px !important;
}

.OT_publisher .OT_video-element {
  padding: 20px;
}

.showtime {
  font-weight: bold;
  margin: 200px;
}

#something {
  width: 400px;
  position: relative;
  right: 80px;
}
