.messages-container {
  height: 400px;
  overflow-y: scroll;
}

.message-container {

}


#videos {

}

.OT_root {
  height: 600px !important;
}

.OT_publisher .OT_video-element {
  ;
}

.showtime {
  font-weight: bold;
  margin: 200px;
}
