.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  color: white;
  z-index: 10;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand p {
  color: white;
  display: flex;
  align-items: flex-end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  color: white;
}

a {
  color: white;
}

.nav-item a {
  color: white !important;
  margin-right: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon-white {
  background-color: rgba(7, 7, 7, 0.849);
  z-index: 10;
}

#navbarDropdown:hover {
  cursor: pointer;
}
