// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #060505;
  color: #d8d8db;
  letter-spacing: 0.5px;
  line-height: 180%;
}

.container-home {
  margin: 20px;
}


#videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 10px;
}

.OT_root {
  height: 600px !important;
}

.OT_publisher .OT_video-element {
  padding: 20px;
}

.showtime {
  font-weight: bold;
  margin: 200px;
}
